<footer className="footer">
    <div className="container">
        <h2>Valencia</h2>
        <br/>
      <p className="text-muted">&copy; 2024 Valencia. All rights reserved.</p>
    </div>
  </footer>