<header class="nav">
    <a href="/" class="logo-link">
        <h2>Valencia</h2>
    </a>
    
    <a href="/cart">
        <i class="fas fa-shopping-cart"></i> <!-- Font Awesome shopping cart icon -->
        <span>Cart</span>
    </a>
</header>
