<html>
    <head>
        {{ content_for_header }}    
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
    </body>
</html>

